.date-picker-component {
	margin-top: 0px;
	margin-bottom: 0px;
	.MuiFormControl-marginNormal {
		margin-top: 16px;
		margin-bottom: 8px;
	}
	.MuiIconButton-root {
		padding-left: 0px;
    padding-right: 0px;
    position: relative;
    right: -9px;
	}
}
